COMPOSE_PROJECT_NAME=bubtcsealumni
RESTART_POLICY=unless-stopped
APP_BUILD_CONTEXT=.
APP_DOCKERFILE=.docker/app/8.5-fpm/Dockerfile
WORKER_DOCKERFILE=.docker/worker/8.5-fpm/Dockerfile
APP_CODE_PATH=.
NGINX_IMAGE=nginx:alpine
POSTGRES_IMAGE=postgres:17-alpine
REDIS_IMAGE=redis:alpine
NGINX_CONTAINER_NAME=bubtcsealumni_nginx
APP_CONTAINER_NAME=bubtcsealumni_app
WORKER_CONTAINER_NAME=bubtcsealumni_worker
POSTGRES_CONTAINER_NAME=bubtcsealumni_postgres
REDIS_CONTAINER_NAME=bubtcsealumni_redis
NGINX_MAIN_CONF=./.docker/nginx/nginx.conf
NGINX_APP_CONF=./.docker/nginx/app/docker-local.conf
POSTGRES_VOLUME_NAME=bubtcsealumni_postgres_data
REDIS_VOLUME_NAME=bubtcsealumni_redis_data
APP_NETWORK_NAME=bubtcsealumni_internal
APP_NETWORK_DRIVER=bridge
NPM_NETWORK=nginx-proxy-manager_npm-network
POSTGRES_HEALTHCHECK_INTERVAL=5s
POSTGRES_HEALTHCHECK_TIMEOUT=5s
POSTGRES_HEALTHCHECK_RETRIES=10
REDIS_SERVER_COMMAND=redis-server
REDIS_APPENDONLY_FLAG=--appendonly
REDIS_APPENDONLY=yes
REDIS_CLI_COMMAND=redis-cli
REDIS_HEALTHCHECK_INTERVAL=5s
REDIS_HEALTHCHECK_TIMEOUT=5s
REDIS_HEALTHCHECK_RETRIES=10

APP_NAME=BUBTCSEAlumni
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://bubtcsealumni.jouleslabs.xyz

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=bubtcsealumni-postgres
DB_PORT=5432
DB_DATABASE=__CHANGE_DB_DATABASE__
DB_USERNAME=__CHANGE_DB_USERNAME__
DB_PASSWORD=__CHANGE_DB_PASSWORD__

POSTGRES_DB=__CHANGE_DB_DATABASE__
POSTGRES_USER=__CHANGE_DB_USERNAME__
POSTGRES_PASSWORD=__CHANGE_DB_PASSWORD__

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=bubtcsealumni-redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_NAME="Primary Admin"
ADMIN_EMAIL=admin@example.com
ADMIN_MOBILE=01700000000
ADMIN_INTAKE=1
ADMIN_PASSWORD_HASH=__SET_BCRYPT_HASH__

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

APP_ENV_TESTING=testing
APP_DEBUG_TESTING=true
TEST_DB_CONNECTION=pgsql
TEST_DB_HOST=bubtcsealumni-postgres
TEST_DB_PORT=5432
TEST_DB_DATABASE=__CHANGE_TEST_DB_DATABASE__
TEST_DB_USERNAME=__CHANGE_TEST_DB_USERNAME__
TEST_DB_PASSWORD=__CHANGE_TEST_DB_PASSWORD__
